package-cache
play-cache
*.sw?
PharoDebug.log
*.sources
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/osmo-smsc
debian/osmo-smsc-om
debian/osmo-smsc-inserter
debian/osmo-smsc-delivery
debian/tmp
pharo-vm/
integration-tests/.cache
integration-tests/__pycache__
integration-tests/*.pyc
integration-tests/it-tests
integration-tests/results.xml
integration-tests/junitxml
