package-cache
play-cache
*.sw?
PharoDebug.log
*.sources
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/osmo-smsc
debian/osmo-smsc-om
debian/osmo-smsc-inserter
debian/osmo-smsc-delivery
debian/tmp
