Source: osmo-smsc
Maintainer: Holger Freyther <holger@freyther.de>
Section: pharo
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: osmo-smsc
Architecture: any
Depends: ${misc:Depends}, image-launch, pharo5-vm-core [!amd64], pharo5-vm-core:i386 [amd64],
  pharo5-sources-files, mongodb-server
Description: osmo-smsc
 Contains the pharo images for osmo-smsc.

Package: osmo-smsc-om
Architecture: any
Depends: ${misc:Depends}, osmo-smsc (=${binary:Version})
Description: osmo-smsc-om
 Starts the webserver for O&M
 via runit.

Package: osmo-smsc-inserter
Architecture: any
Depends: ${misc:Depends}, osmo-smsc (=${binary:Version})
Description: osmo-smsc-inserter
 Starts the inserter
 via runit.

Package: osmo-smsc-delivery
Architecture: any
Depends: ${misc:Depends}, osmo-smsc (=${binary:Version})
Description: osmo-smsc-delivery
 Starts delivery
 via runit.
