#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# nothing...

override_dh_auto_install:
	make install DESTDIR=$(PWD)/debian/tmp
	mkdir -p debian/tmp/etc/image-launch/images/osmo-smsc-om/
	install -m 644 om.launch debian/tmp/etc/image-launch/images/osmo-smsc-om/image-launch.conf
	mkdir -p debian/tmp/etc/service/osmo-smsc-om
	sed -e "s/REPLACE_ME/osmo-smsc-om/" template.runit > debian/tmp/etc/service/osmo-smsc-om/run
	chmod 755 debian/tmp/etc/service/osmo-smsc-om/run
